@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
.side {
    background-color: rgb(31, 31, 31);
    border: 4px solid #6d00a3;
} */
body{background-color: black}
.gold{
  background-image: linear-gradient(100deg
  ,#f9f295, #e0aa3e, #f7f086, #b88a44);
  background-size: 500%;
  animation: fanimado 5s infinite;
}

.gold:hover {
  background-image: linear-gradient(100deg
  ,#ae8625, #f7ef8a, #d2ac47, #edc967);
}

@keyframes fanimado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%
  }
}

@layer components {
    .sidebarIcon {
      @apply h-6 text-[#808080] cursor-pointer;
    }
  
    .tag {
      @apply py-1.5 px-3 text-[#CECECE] bg-[#282828] rounded-xl text-xs font-bold border-2 border-[#484848];
    }
  
    .genre {
      @apply bg-[#101010] text-[#CECECE] border border-[#484848] rounded-xl py-2.5 px-3.5 text-[11px] font-bold cursor-default;
    }
  
    .icon {
      @apply hover:scale-125 transition-all duration-150 ease-out;
    }
  
    .croppedIcon {
      clip-path: inset(0 50% 0 0);
    }
  
    .playerIcon {
      @apply transition ease-out transform hover:scale-105 hover:text-white;
    }
  }